In [3]:
import pandas as pd
import numpy as np

In [27]:
# 임의의 데이터 프레임 생성
index_num = [0,1,2,3,4,5,6,7,8,9]
df = pd.DataFrame(np.random.randn(10, 3), 
                 index= index_num
                  , columns = {'A', 'B', 'C'})
df.head()

          C         A         B
0 -1.378360  1.004468  0.258993
1  1.049650 -0.653506 -0.111456
2  0.837953 -0.509547 -1.105296
3  0.182887  0.651507  0.972033
4  0.047857  0.615425  1.394495

### 1. 정렬

In [17]:
df.sort_values(by='A', ascending =True).head()

          C         A         B
7 -0.778189 -1.605114  0.112106
0  0.294129 -1.261184  0.070460
6 -1.123453 -1.029568 -0.974065
2 -1.868012 -1.027431 -0.255755
5  0.681419 -0.146322 -0.812722

### 2. 데이터 추출

### 2-1. 차원축소 (인덱싱)


+ DataFrame => Series => Scalar(값)
+ [] 안에 컬럼 값을 넣으면 인덱싱

In [18]:
# 특정 컬럼의 데이터만 가져오기
# 인덱싱 -> (차원축소) -> Series -> 스칼라
df['A']

0   -1.261184
1    0.261278
2   -1.027431
3    1.288411
4   -0.003912
5   -0.146322
6   -1.029568
7   -1.605114
8    0.949003
9    0.650547
Name: A, dtype: float64

### 2-2. 차원유지 (슬라이싱)

In [29]:
# 인덱스 중 1 <= x < 3 의 데이터를 가져오기 (인덱스는 0부터 시작)
# 인덱스 값이 숫자가 아니더라도 묵시적으로 번호를 붙여서 가져옴
df[1:3]

          C         A         B
1  1.049650 -0.653506 -0.111456
2  0.837953 -0.509547 -1.105296

In [30]:
# 인덱스 값을 직접 입력할 수도 있음
df[index_num[1]:index_num[3]]

          C         A         B
1  1.049650 -0.653506 -0.111456
2  0.837953 -0.509547 -1.105296

### 2-3. 2차원의 값 가져오기 _ loc[ ], iloc[ ]

#### loc[ ]

+ location 정보를 이용해서 데이터를 추출
+ 인덱싱, 슬라이싱 모두 적용
+ 인덱스나 컬럼의 값을 이용하여 데이터를 추출, 차원축소, 자를 수 있음

In [28]:
df.loc[index_num[2]]

C    0.837953
A   -0.509547
B   -1.105296
Name: 2, dtype: float64

In [33]:
#[1차원, 2차원]
#[인덱스, 컬럼]
#[행, 열]

df.loc[: , ['A', 'B']]  # : 행은 다 가져오고, 컬럼은 A랑 B만 가져와!

          A         B
0  1.004468  0.258993
1 -0.653506 -0.111456
2 -0.509547 -1.105296
3  0.651507  0.972033
4  0.615425  1.394495
5 -0.837176  0.061076
6 -0.800892 -1.709591
7  0.477938  2.375743
8  0.153674 -0.895799
9 -0.024938 -0.725920

In [35]:
# loc : 1 <= x <= 3

df.loc[1:3, ['A']]

          A
1 -0.653506
2 -0.509547
3  0.651507

In [37]:
# 차원축소
df.loc[index_num[2], 'A']

numpy.float64

#### iloc[ ]

+ i 즉, index를 이용하기

In [38]:
df.iloc[1:3, 1:3]

          A         B
1 -0.653506 -0.111456
2 -0.509547 -1.105296

In [43]:
# 펜시 인덱싱을 이용하여 원하는 부분 인덱스를 나열해서 추출
# 0,3,6 인덱스값을 가져옴! 컬럼은 명시하지 않았으니 전부
df.iloc[[0,3,6],]

          C         A         B
0 -1.378360  1.004468  0.258993
3  0.182887  0.651507  0.972033
6  0.019770 -0.800892 -1.709591

#### 불리언 인덱싱 

+ 특정 열을 기준으로 잡고 값을 가져옴

In [45]:
# C 열의 값들 중 1이 넘는
df[df.C > 1]

         C         A         B
1  1.04965 -0.653506 -0.111456

### 3. 복제

In [46]:
# 방법 1
df2 = df[:]

In [47]:
# 방법 2
df2 = df.copy()

In [48]:
df2 = df.iloc[0:6]
df2

          C         A         B
0 -1.378360  1.004468  0.258993
1  1.049650 -0.653506 -0.111456
2  0.837953 -0.509547 -1.105296
3  0.182887  0.651507  0.972033
4  0.047857  0.615425  1.394495
5 -0.081929 -0.837176  0.061076

### 4. 값 추가하기