In [1]:
import pandas as pd
import numpy as np

#### pandas : 파이썬 진영에서 R에 대응하기 위해 만든 라이브러리
- 기반은 numpy
- pandas의 자료구조 : Series(1차원 데이터), DataFrame(2차원 데이터)

#### numpy : 고속연산, 대용량 데이터 처리 등 파이썬 대비 10~수백배의 처리속도를 제공한다
- 분석 작업 시 파이썬을 사용하지 않고 pandas를 사용한다
- numpy의 자료구조 -> ndarray(배열)

#### np.nan
- 파이썬의 None -> 값이 없다 -> 결측치, 제거대상

In [2]:
s = pd.Series([1,2,3,np.nan,5,6])
s

0    1.0
1    2.0
2    3.0
3    NaN
4    5.0
5    6.0
dtype: float64

In [3]:
s.dtype

dtype('float64')

In [4]:
# shape : 데이터의 개수, 형태를 확인하기 위해 사용 (튜플 형식)
# ex) (6, ) 라는 뜻은 데이터가 6개 있고, 1차원이라는 의미
s.shape

(6,)

## < DataFrame 생성하기 >

#### 1. 인덱스 데이터 생성 (행)

In [5]:
# 임의의 날짜 데이터 생성 => 인덱스로 사용하기
dates = pd.date_range('20190121', periods=37)
dates

DatetimeIndex(['2019-01-21', '2019-01-22', '2019-01-23', '2019-01-24',
               '2019-01-25', '2019-01-26', '2019-01-27', '2019-01-28',
               '2019-01-29', '2019-01-30', '2019-01-31', '2019-02-01',
               '2019-02-02', '2019-02-03', '2019-02-04', '2019-02-05',
               '2019-02-06', '2019-02-07', '2019-02-08', '2019-02-09',
               '2019-02-10', '2019-02-11', '2019-02-12', '2019-02-13',
               '2019-02-14', '2019-02-15', '2019-02-16', '2019-02-17',
               '2019-02-18', '2019-02-19', '2019-02-20', '2019-02-21',
               '2019-02-22', '2019-02-23', '2019-02-24', '2019-02-25',
               '2019-02-26'],
              dtype='datetime64[ns]', freq='D')

#### 2. 컬럼생성 (열)

In [6]:
cols= ['A', 'B', 'C', 'D']

#### 3. 임의의 배열 값 생성

In [9]:
# 임의의 수 만들기
# numpy 자료구조 : 배열
np.random.randn(37,4)

array([[ 0.09806809, -0.65009407, -0.2008858 ,  2.21399769],
       [-0.25871029,  0.72193583, -0.35644257,  0.73424657],
       [ 0.94875051,  0.13200786,  1.37379253,  0.86327168],
       [ 0.63774345, -1.53992156,  0.08813565, -0.6914163 ],
       [-1.6896839 , -2.03305828,  0.88620276, -0.83541939],
       [-1.71312675, -0.56133048,  0.16988115, -1.76599494],
       [-0.30799566,  0.01386468,  0.43871846,  0.45279958],
       [ 1.2325874 , -1.25847682, -1.19809312,  0.00876499],
       [-0.73269658,  0.97765436, -0.34968407, -0.15059944],
       [-1.11610795, -1.47780994,  1.45929891, -0.64486936],
       [ 0.67878405,  0.6593138 , -0.51208101,  0.96452412],
       [-0.41690573,  1.8757979 ,  1.70155991,  0.363742  ],
       [ 0.3114188 , -0.69048159,  0.63453405, -1.65541121],
       [ 0.46820062,  0.57174955, -0.09184948, -0.65624646],
       [-1.76820887, -1.67744268,  1.07935602, -1.43672759],
       [-0.90046427, -0.39328884, -0.44302623,  0.19226464],
       [-0.83111068, -0.54792503, -1.94476449,  0.3532801 ],
       [ 0.23729296, -0.12672337,  0.85128429,  1.08652104],
       [ 0.86940021, -1.05060464,  0.49500723,  1.86255183],
       [ 0.95009216, -1.00222287,  0.25813529, -0.15863521],
       [ 1.88232285, -0.22667375,  0.46342816, -0.45372912],
       [ 0.29969512, -1.36580465, -1.43695172,  0.693556  ],
       [-0.34285043, -1.2093386 , -0.05504583, -0.25503688],
       [ 0.53507885,  1.11140966, -0.2033617 ,  0.11607607],
       [ 0.62408279,  0.09585483,  0.3876049 ,  1.55755075],
       [ 1.4820592 , -0.58207411,  1.16511382, -0.74032291],
       [-0.14499885, -0.61306225,  1.14226989, -1.67028178],
       [-1.24849987,  0.3921275 , -0.11760999,  0.00785671],
       [ 0.2760541 , -0.33576623,  0.13885554,  0.36435124],
       [ 0.19689402, -0.00944852, -0.53354357, -1.62261959],
       [ 0.45117086,  0.74070714,  0.44090526,  1.13564817],
       [ 0.58335809,  0.77040489,  0.15131014, -0.37940818],
       [ 0.1284679 ,  1.73609685,  1.24548581, -1.45695301],
       [ 0.637847  ,  1.81462314,  2.30237564, -1.96814373],
       [ 0.50529885, -1.80928893,  0.68724043,  1.40052228],
       [-0.10518191, -1.83769977, -0.44666312, -0.67695757],
       [ 0.06172688, -0.21473333,  1.05263445,  0.35963755]])

#### 4. DataFrame 생성하기 =>  pd.DataFrame(배열값, index값, columns값)

In [10]:
index_size = len(dates)
cols_size = len(cols)
df = pd.DataFrame(np.random.randn(index_size, cols_size)
                 , index = dates
                 , columns = cols)
df.head()

                   A         B         C         D
2019-01-21  0.268979 -0.152950  0.120132 -0.303722
2019-01-22 -0.531976 -0.228745 -0.620546  0.663630
2019-01-23  0.804702 -1.082933 -1.134419  1.078503
2019-01-24  1.609795 -1.477634  0.681511  2.029410
2019-01-25 -1.363776 -0.162394  0.110927  0.635739

## < DataFrame 살펴보기 >

In [11]:
# 데이터의 모습, 모양 크기
df.shape

(37, 4)

In [12]:
type(df.values)

numpy.ndarray

In [14]:
df.describe() # DataFrame의 통계적인 결과치

               A          B          C          D
count  37.000000  37.000000  37.000000  37.000000
mean    0.075304  -0.068579  -0.058296  -0.122897
std     0.998986   1.108758   0.997242   1.091076
min    -2.927973  -2.619630  -1.633163  -2.489418
25%    -0.538233  -1.038459  -0.920316  -0.820533
50%     0.268979  -0.162394   0.002257  -0.144209
75%     0.748563   0.474349   0.478917   0.663630
max     1.609795   2.241661   2.734410   2.029410

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 37 entries, 2019-01-21 to 2019-02-26
Freq: D
Data columns (total 4 columns):
A    37 non-null float64
B    37 non-null float64
C    37 non-null float64
D    37 non-null float64
dtypes: float64(4)
memory usage: 1.4 KB

In [18]:
df.values

array([[ 2.68979039e-01, -1.52950207e-01,  1.20131554e-01,
        -3.03722171e-01],
       [-5.31976066e-01, -2.28744913e-01, -6.20545843e-01,
         6.63630111e-01],
       [ 8.04702126e-01, -1.08293330e+00, -1.13441858e+00,
         1.07850261e+00],
       [ 1.60979501e+00, -1.47763431e+00,  6.81510975e-01,
         2.02941031e+00],
       [-1.36377624e+00, -1.62393854e-01,  1.10927183e-01,
         6.35739348e-01],
       [-1.04711999e+00,  7.30862952e-01,  2.25747061e-03,
        -1.07539821e+00],
       [ 1.03687928e+00,  3.49057321e-01,  4.80598063e-01,
         9.49977386e-02],
       [ 2.09672632e-01,  1.27921349e-01, -7.61123766e-01,
        -1.26317251e+00],
       [-2.55933208e-01, -4.26402328e-01,  6.43899951e-01,
        -5.49792191e-01],
       [ 6.77091509e-01, -2.62015355e-01,  2.50460856e-01,
         4.84319410e-01],
       [ 1.14362663e+00, -1.03845918e+00,  1.65338579e+00,
         1.39849731e+00],
       [-1.09032900e+00,  1.76946808e+00,  1.44769453e-01,
        -1.02523555e+00],
       [ 5.64214012e-01, -1.80589933e-01, -1.39554634e+00,
        -1.44209393e-01],
       [-1.52346894e-01, -3.13990676e-01,  1.26927191e-01,
        -2.00384317e+00],
       [-1.77443990e+00, -1.34158356e+00,  4.78916941e-01,
         9.96988484e-02],
       [-7.64534475e-01, -1.22933927e+00, -6.75958600e-01,
         1.16592483e+00],
       [ 6.68279924e-01, -3.77111793e-01, -1.16283403e+00,
        -2.12412095e+00],
       [-5.90016174e-01,  4.74349443e-01, -3.80188756e-01,
        -6.41588464e-01],
       [-2.57733058e-01,  4.07452450e-01, -9.97082422e-03,
         1.32294704e+00],
       [ 1.32558103e+00, -1.42219320e+00, -9.88840151e-01,
        -2.48941809e+00],
       [ 1.00501246e+00,  2.04183363e+00, -4.70038550e-01,
        -1.50160881e-01],
       [ 3.55505498e-01, -1.32107432e-01, -4.56796737e-01,
        -8.20532912e-01],
       [ 1.45370235e+00, -1.20413096e+00, -1.47355245e+00,
         3.86084827e-01],
       [ 3.49824344e-01,  4.05978525e-01,  1.23928191e+00,
        -2.48263855e-01],
       [-3.30935901e-02, -2.74610475e-01,  4.08841190e-01,
        -7.03480703e-01],
       [ 9.32409077e-01,  1.06427244e+00, -1.63316331e+00,
        -1.59838711e+00],
       [ 6.10282118e-01, -2.26423026e-01,  2.73441010e+00,
         1.14186319e+00],
       [ 7.48563232e-01, -1.41632036e+00,  6.11335010e-01,
         3.05030229e-01],
       [ 5.42332824e-01,  6.11381926e-01,  1.47774999e+00,
        -1.14081885e+00],
       [-5.38232675e-01, -4.82185040e-02, -1.00757179e+00,
         4.42290082e-01],
       [-4.21968071e-01,  2.24166065e+00, -9.20315905e-01,
         6.75310569e-01],
       [ 6.24498498e-01,  2.23945718e+00, -1.00033266e+00,
         1.19136230e+00],
       [ 1.27627292e+00,  1.17216036e+00,  1.22447699e-01,
        -6.29700127e-01],
       [-2.92797311e+00,  6.50034223e-01, -1.16548718e-01,
         6.99498055e-01],
       [-5.40295327e-01,  9.47816373e-02,  1.81504799e+00,
        -2.11412121e-01],
       [ 2.38316030e-01, -2.61962985e+00, -1.17892218e+00,
         4.27250494e-01],
       [-1.36951766e+00, -1.30032719e+00,  1.26831850e-01,
        -1.66628913e+00]])